/* flexible body format */
    body {
        margin          : 0;
        padding         : 0;
        font-family     : Arial, sans-serif;
        background-color: #f2f2f2;
        display         : flex;
        justify-content : center;
        align-items     : center;
        height          : 100vh;
    }


/* Start ------------------- LogIn */
    .login-format {
        margin          : 0;
        padding         : 0;
        font-family     : Arial, sans-serif;
        background      : url('https://media.istockphoto.com/id/1201809645/vector/yellow-brick-tile-wall.jpg?s=612x612&w=0&k=20&c=79wERveM8X7dUI7vevMzcA3WzO7z5b1lniURMu5Bdko=') no-repeat center center fixed;
        background-size : cover;
        display         : flex;
        justify-content : center;
        align-items     : center;
        height          : 100vh;
    }
    
    .login-container {
        background-color: #ffffff;
        padding         : 40px;
        border-radius   : 10px;
        box-shadow      : 0 4px 12px rgba(0, 0, 0, 0.1);
        width           : 300px;
    }

    .login-container h2 {
        text-align      : center;
        margin-bottom   : 24px;
    }

    .login-container input[type = "text"],
    .login-container input[type = "password"] {
        width           : 100%;
        padding         : 10px;
        margin-bottom   : 16px;
        border          : 1px solid #cccccc;
        border-radius   : 6px;
    }

    .login-container button {
        width           : 100%;
        padding         : 10px;
        background-color: #4CAF50;
        color           : #ffffff;
        border          : none;
        border-radius   : 6px;
        cursor          : pointer;
        font-size       : 16px;
    }

    .login-container button:hover {
        background-color: #f89f05;
    }
/* End --------------------- LogIn */


/* Start ------------------- NavBar */
    .navbar {
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        background-color: #dca91d;
        padding         : 10px 20px;
        color           : rgb(202, 53, 53);
        position        : fixed;
        top             : 0;
        left            : 0;
        right           : 0;
        z-index         : 999;
    }

    .nav-brand {
        display         : flex;
        align-items     : center;
        font-size       : 20px;
        font-weight     : bold;
    }

    .nav-logo {
        width           : 100px;
        height          : 45px;
        margin-right    : 10px;
    }


    .nav-links {
        list-style      : none;
        display         : flex;
        gap             : 20px;
    }

    .nav-links li a {
        text-decoration : none;
        font-family     : 'Figtree', sans-serif;
        color           : rgb(200, 34, 34);
        font-weight     : bold;

        padding         : 4px 8px;
        border-radius   : 6px;
        transition      : 0.2s ease;
    }

    .nav-links li a:hover {
        background-color: #fff3cd;
        color           : #e46911;
        box-shadow      : 0 2px 6px rgba(0, 0, 0, 0.15);
        text-decoration : none;
    }


    /* position = down from navbar */
    body:not(.login-page) {
        padding-top     : 60px;
    }
/* End --------------------- NavBar */
